.keyreply-launcher,
.keyreply-chat-icon {
    cursor: pointer;
    bottom: 20px;
    position: fixed;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05), 0 15px 30px -10px rgba(0, 0, 0, 0.3);
    z-index: 10000;
}

.keyreply-chat-icon {
    font-family: 'Avenir Next', Avenir, 'Helvetica Neue', Lato, 'Segoe UI', Helvetica, Arial, sans-serif;
    -webkit-transition: width 0.25s, height 0.25s;
    transition: width 0.25s, height 0.25s;
}

.keyreply-launcher,
.keyreply-chat-icon {
    height: 50px;
    width: 50px;
    right: 16px;
    border-radius: 25px
}

.keyreply-chat-icon img {
    height: 50px;
    width: 50px;
}

.keyreply-chat-icon {
    display: none;
    opacity: 0
}

.keyreply-panel {
    width: 300px;
    height: 300px;
    right: 75px;
    bottom: 100px !important; 
}

.keyreply-chat-icon:not(.keyreply-panel):hover {
    width: 150px;
}

.keyreply-chat-icon.keyreply-panel .keyreply-qr {
    height: 200px;
    width: 200px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1;
    margin: 50px;
    border-radius: 5px;
    visibility: visible;
    background-size: contain;
    -webkit-transition: visibility 0s linear 0.2s, opacity 0.2s linear 0.2s;
    transition: visibility 0s linear 0.2s, opacity 0.2s linear 0.2s;
}

.keyreply-chat-icon:not(.keyreply-panel) .keyreply-qr {
    visibility: hidden;
    opacity: 0;
}

.keyreply-label {
    opacity: 0;
    margin-top:10px;
    margin-left: -4px;
    line-height: 32px;
    font-size: 20px;
    font-weight: 400;
    position: absolute;
    display: inline-block;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.keyreply-chat-icon:hover .keyreply-label {
    opacity: 1;
}

.keyreply-chat-icon.keyreply-panel .keyreply-label {
    opacity: 1;
}
